extends layout

block content
    h1= title
    p Welcome to our VFEED

    // Wrapper
    #wrapper

        // Stores LIST
        h2 Stores List
        #userList
            table
                thead
                    th StoreName
                    th Address
                    th Food Items
                tbody
        // /USER LIST

    // /WRAPPER
